@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "Varela";
    src: url(./RobotoCondensed-Medium.ttf);
}

html {
    font-size: clamp(10px, 1vw, 18px);
}

body {
    font-family: "Varela", 'Trebuchet MS';
    background: rgb(255, 214, 221);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-size: 1rem;  /* laisser la base suivre html */
    overflow-x: hidden;  /* pas hidden partout */
    overflow-wrap: break-word;
    align-content: center;
}

main {
    font-size: clamp(14px, 1.2vw, 18px);
}

nav {
  display: block;
  unicode-bidi: isolate;
}

.flexbox {
    padding: 0 0 0 70px;
    margin-bottom: 5px;
    text-align: center;
    min-height: 10vh;
    min-width: 15vw;
    font-size: 26px;
    
}

.flexbox2 {
  margin: 0 0 0 50px;
  height: auto;
  
  max-width: 40vw;
  font-size: clamp(14px, 1.2vw, 18px);
}

p {
  text-align: justify;
}

h1 {
  width: 24vw;
}
/* UL = conteneur flex */

#social {
  display:block;
  width: 10vw;
  padding-right: 50px;
  position: fixed;
  margin: 0 50px 0 0;
}

.element span {
  visibility: hidden;
  justify-content: center;
  display: flex;
}

.element img:hover + span {
  visibility: visible;
}

.element {
    list-style: none;
    margin: 0;
    padding: 5px;
    
    display: flex;
    flex-wrap: wrap; /* évite l'entassement */
    gap: 10px;  /* espace uniforme */
    min-height: 11vh;
    width: 10vw;
    
}

.topbar {
    height: 4.9vh;
}

.layout {
    flex: 1;
    flex-direction:row;
    display: flex;
    min-height: 0; /*important*/
    justify-content: center;
    
}

.sidebar {
    width: 18vw;
    padding: 15px;
}

.sidebar2 {
    width: 20vw;
    height: 100%;
    right: 20px;
    position: fixed
}

/* Boutons */
button {
  background: rgb(255, 214, 221);
  border: none;

  font-size: 1rem;          /*  en rem */
  padding: 1.2rem 2rem;
  border-radius: 12px;

  display: flex;            /* icône + texte alignés */
  flex-direction: column;
  align-items: left;
  gap: 8px;

  white-space: nowrap;      /*  “Tableau de bord” ne casse pas */
}

/* Image dans le bouton */
button img {
  width: 42px;
  height: 42px;
}

.a1 {
  max-width: 20%;       /* tableau ne dépasse pas 20% de l'écran à gauche */
}

.grid-head {
  display: block;
  width: 100%;
  height: 20%;
}

.content {
  padding: 0;
  width: 50vw;
  min-height: 50vh;
}


